@if (hasFile) {
<div *transloco="let t; read: 'table'">
  <table
    mat-table
    matSort
    matSortDisableClear
    [dataSource]="dataSource"
    (matSortChange)="sortTransactions($event)"
  >
    <ng-container matColumnDef="card">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t("card") }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.card }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t("date") }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t("name") }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t("amount") }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th class="header" mat-header-cell *matHeaderCellDef>{{ t("type") }}</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th class="header" mat-header-cell *matHeaderCellDef>
        {{ t("details") }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.details }}</td>
    </ng-container>
    <ng-container matColumnDef="debitAmount">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t("debitAmount") }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.debitAmount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr
      mat-row
      appHighlightRow
      [rowData]="myRowData"
      *matRowDef="let myRowData; columns: headers"
    ></tr>
  </table>
</div>
<button class="export" mat-raised-button (click)="exportData()">Export</button>
<div class="chart">
  <ngx-charts-advanced-pie-chart
    [results]="chartData"
    [customColors]="customColors()"
    [animations]="false"
  >
  </ngx-charts-advanced-pie-chart>
</div>
}
